<% title "of the annotations" %>

<div class="column-left">
  <div class="display rounded">
    ANNOTATIONS
    <br />
    <h2 class="display-title">Work in progress.</h2>
  </div>
</div>

<div class="column-right"></div>
